body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.label {
  font-size: 30px;
  border: 1px solid black;
  /* width: 3.4375in;
  height: 0.5625in; */
  width: 330px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media print {
  @page {
    size: 3.4375in 0.5625in;
    margin: 0;
  }

  .label {
    /* font-size: 24px; */
  }
}
