h1 {
  font-size: 20px;
}

@media print {
  @page {
    size: 3.4375in 0.5625in;
    margin: 0;
  }

  body {
    margin: 0;
  }

  .label {
    margin-top: 20px;
    /* width: 3.4375in;
    height: 0.5625in; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 24px; */
    border: 1px solid black;
  }
}
